@import "~src/styles/theme/variables";
:host {
  width: 100%;
}

.content {
  width: 100%;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.header {
  padding: 1rem;
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $padding /2;
}

.slots {
  margin: 0 auto;
  max-width: 90%;

  ji-slot {
    display: block;
    margin-bottom: $padding /2;
  }
}
