%flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

html {
  height: 100%;

  &:after {
    content: "";
    background: url('assets/img/agenda-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: .9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  margin: 0;
  @extend %flex;
}

ji-root {
  @extend %flex;

  > *:not(router-outlet):not(.signature) {
    @extend %flex;
  }
}

.signature {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mat-form-field.no-padding > .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
